@import "node_modules/bootstrap/scss/bootstrap";

.header {
  margin-top: 2.5vh;
}

// Actually not completely vertically centered ;)
.fully-centered {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 75vh;
}

.game-board {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 10px;
  max-width: 900px;
  margin: auto;
  margin-top: 5vh;
}

.cell {
  width: 300px;
  height: 300px;
  background-color: rgba(0, 0, 0, 0.048);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Arial";
  font-size: 20em;
  cursor: pointer;
  border: 1px solid #333;
}

h1 {
  font-size: 10rem;
}

.btn-lg {
  padding: 2.25rem 5rem;
  font-size: 7.5rem;
  border-radius: 5rem;
}

.winner-modal {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.winner-modal .modal-content {
  position: relative;
  height: auto;
  margin: auto;
  margin-top: 33em;
  text-align: center;
  // Only width that comes close to being fully centered
  width: 20.5vw;
}

.winner-modal .modal-title {
  font-size: 48px;
  flex: 1 0 auto;
  text-align: center;
}

.winner-modal .modal-body {
  font-size: 30px;
}

.winner-modal .play-again {
  background-color: rgb(66, 70, 73);
  border-color: rgb(55, 59, 62);
}

.winner-modal .prev-game {
  background-color: rgb(104, 104, 104);
  border-color: rgb(93, 93, 93);
  border-bottom-color: rgb(55, 59, 62);
}

.winner-modal button.btn {
  font-size: 36px;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.winner-modal .modal-footer {
  justify-content: center;
  display: flex;
  text-align: center;
  flex-wrap: nowrap;
}
