<ul>
  {{#each @games as |game|}}
    <li>
      <strong>Winner:</strong>
      {{game.winner}}
      <strong>Played on:</strong>
      {{game.playedAt}}
      <div>
        <strong>Board:</strong>
        {{#each game.cells as |cell|}}
          {{cell}}
        {{/each}}
      </div>
    </li>
  {{/each}}
</ul>

{{yield}}