{{page-title "Index"}}

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
    <div class="fully-centered">
      <LinkTo class="btn btn-dark btn-lg center" @route="play">Play</LinkTo>
    </div>
  </body>
</html>

{{outlet}}