{{page-title "Index"}}

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
    <div class="fully-centered">
      <div class="home-btns">
        <LinkTo class="btn btn-dark play-btn center" @route="play">Play</LinkTo>
        <LinkTo
          class="btn btn-secondary prev-game-btn center"
          @route="history"
        >View History</LinkTo>
      </div>
    </div>
  </body>
</html>

{{outlet}}